@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.home__cta {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #607eaa;
  color: #000000;
  outline: none;
  border: none;
  border-radius: 5px;
}
.chat {
  width: 200%;
  height: 50vh;
  display: flex;
  display: flex;
  align-items: center; /* Add this */
  justify-content: center; /* Add this */
}

.chat__main {
  height: 80%;
  flex: 0.8;
  margin-left: 0px;
  align-self: center; 
  justify-content: center;
}

.chat__mainHeader {
  width: 100%;
  height: 17vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #823fff;
  text-shadow: 4px 4px 4px #2f2f2f;
  border: 0.1rem solid #823fff;
  border-radius: 1rem
}



.message__container {
  width: 100%;
  height: 80vh;
  background-color: #fff;
  padding: 20px;
  overflow-y: scroll;
  background-color: #283044;
  border: 0.1rem solid #823fff;
  border-radius: 1rem
  ;
}

.message__container > * {
  margin-bottom: 10px;
}
.chat__footer {
  padding: 10px;
  background-color: #823fff;
  height: 10vh;
}
.form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.message {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  padding: 15px;
}

.message__recipient {
  background-color: #646cff;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}
.message__sender {
  background-color: #563d7c;
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
  font-size: 15px;
}
.message__chats > p {
  font-size: 13px;
  color: black;
}
.sender__name {
  text-align: right;
  color: black
}
.message__status {
  position: flex;
  bottom: 50px;
  font-size: 13px;
  font-style: italic;
  color: black
}