#updateform {
  display: none;
  /* background-color: #e3dbf8; */
  /* color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer; */
  justify-content: center;
  align-items: center;
}
/*   
  #updateform-btn:hover {
    background-color: #9d53c3;
    color: white;
  } */
#userinfo {
  display: block;
  text-align: left;
}

#editbtn {
  display: block;
  margin-left: 45px;
}
.edit-btn {
  padding: 18px 0px 18px 0px;
}
#backbtn {
  display: none;
  /* padding: 0; */
  /* padding: 15px 5px 15px 5px; */
}
.back-btn {
  padding: 18px 3px 18px 3px;
  margin-bottom: 30px;
}
.upbtn {
  margin: auto;
  margin-top: 20px;
}
.deets {
  display: flex;
  flex-direction: column;
}
.updateformform {
  display: flex;
  flex-direction: column;
}
/* .inputField{
  display: flex;
  flex-direction: row;
   align-items: center;
  justify-content: center;
  /* background-color: ; 
} */
.tagbio {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin: auto;
  margin-left: 25px;
}
.tagname {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin: auto;
  margin-left: 72px;
}

.minititle {
  display: flex;
  flex-direction: row;
  font-size: larger;
  /* margin: 0; */
  /* font-weight: 1000; */
}
.biochange {
  font-size: larger;
}
.pfpname {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-bottom: 15px;
  margin-top: 10px;
}

.profile-box {
  min-width: 450px;
  /* position: grid; */
  min-height: 200px;
  display: flex;
  flex-direction: column;
  margin: 20px 60px 10px 0;
  margin-left: 0px;
  padding: 20px;
  background-color: #283044;
  border: 0.1rem solid #823fff;
  border-radius: 1rem;
  padding: 1rem;
  /* border-radius: 5px; */
  /* box-shadow: 0 0 6px 2px rgba(255, 255, 255, 0.8); */
  /* background-image: linear-gradient(
    45deg,
    rgba(141, 68, 173, 0.548),
    rgba(67, 9, 90, 0.442)
  ); */
}
#currentrating {
  margin: 0;
}
#currentlearn {
  margin: 0;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}
#currentlearn h2 {
  margin-right: 10px;
  font-size: x-large;
}

#currentknown {
  margin: 0;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}
#currentknown h2 {
  margin-right: 10px;
  font-size: x-large;
}

.profile-heading {
  text-align: center;
  /* display: flex; */
  margin-bottom: 20px;
  color: #d2d2d2;
  /* flex-direction: row; */
  text-shadow: 4px 4px 4px #2f2f2f;
}

.inputField {
  margin-bottom: 10px;
  padding: 10px;
}

.profilepage-container {
  display: flex;
  position: relative;
  /* flex-direction: row; */
  /* margin: 0px 800px 0px 0px; */
  align-items: flex-start;
  height: 80vh;
  margin-top: 20px;
  font-size: x-large;
  /* margin: inherit; */
  /* margin: initial; */
  /* margin: unset; */
}

/* .profile-box {
  margin-right: 10px;
  width: 100%;
} */
.friendlist-container {
  flex: 1;
  display: flex;
  font-size: small;
  border-radius: 10px;
  margin-top: 20px;
  width: 470px;
  min-height: 500px;
  background-color: #283044;
  border: 0.1rem solid #823fff;
  border-radius: 1rem;
  padding: 1rem;
  padding-right: 300px;
  border-style: solid;
  /* overflow:hidden */
}
