#updateform{
    display: none;
    /* background-color: #e3dbf8; */
    /* color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer; */
  }
/*   
  #updateform-btn:hover {
    background-color: #9d53c3;
    color: white;
  } */
#userinfo{
    display: block;
    text-align: left;
}

#editbtn{
    display: block;
    margin-left: 15px;
    
}
.edit-btn{
  padding: 18px 3px 18px 3px;
}
#backbtn{
    display: none;
    /* padding: 0; */
    /* padding: 15px 5px 15px 5px; */
}
.back-btn{
  
  padding: 18px 3px 18px 3px;
}

.deets{
  display: flex;
  flex-direction: column;
}
.minititle{
  display: flex;
  flex-direction: row;
}
.pfpname{
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.profile-box {
  /* min-width: 400px; */
  /* position: grid; */
  /* min-height: 200px; */
  display: flex;
  flex-direction: column; 
  margin: 20px 100px 10px 0;
  margin-left: 0px;
  padding: 20px;
  background-color: #313131;
  /* border: 1px solid #cccccc; */
  border-radius: 5px;
  /* box-shadow: 0 0 6px 2px rgba(255, 255, 255, 0.8); */
  background-image: linear-gradient(
    45deg,
    rgba(141, 68, 173, 0.548),
    rgba(67, 9, 90, 0.442)
  );
}
#currentrating{
  margin: 0;
}
#currentlearn{
  margin: 0;
}

.profile-heading {
  text-align: center;
  /* display: flex; */
  margin-bottom: 20px;
  color: #d2d2d2;
  /* flex-direction: row; */
  text-shadow: 4px 4px 4px #2f2f2f;
}

.inputField {
  margin-bottom: 10px;
  padding: 10px;
}

.maintitle{
  margin:0
}

.profile-container {
  display: flex;
  position: relative;
  /* flex-direction: row; */
  margin: 0px 1000px 0px 0px;
  align-items: flex-start;
  height : 80vh;
  /* margin: inherit; */
  /* margin: initial; */
  /* margin: unset; */
  
}

/* .profile-box {
  margin-right: 10px;
  width: 100%;
} */
  .friendlist-container {
    /* flex: 1; */
    display: flex;
    flex-direction: column; 
  }
