  .friend-holder {
    display: flex;
    flex-direction: column;
    max-width: 140px;
    max-height: 50px;
  }
  
  .friendlist-container h1{
    display: flex;
    width: 400px;
    justify-content: center;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
  }
