.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  font-weight: bold;
  font-size: 1.25rem;
  padding: 1.5rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  background-color: #283044;
  border: 1px solid #9d53c3;
}

.login-heading {
  text-align: center;
  margin-bottom: 20px;
  color: #823FFF;

}

.login-form {
  display: flex;
  flex-direction: column;
}

.inputField {
  margin-bottom: 10px;
  padding: 10px;
}

/* .login-btn {
  background-color: #9f7ff2;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
} */

.login-btn:hover {
  background-color: #9d53c3;
  color: white;
}
