.message__container{
    height: 200px;
}

.leaveChat__btn{
    /* margin: 0px; */
    max-width: 180px;
    /* max-height: 50px;  */
    padding: 10px 0px 10px 0px ;
}
.leaveChat__btn span{
    padding: 17px 3px 17px 3px ;
}
