.profile-card {
  height: 700rem;
}

.left-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.left-content h3 {
  margin-bottom: 8px;
}

.card-body {
  display: flex;
  height: 200rem;
}

.card-header {
  display: grid;
  position: absolute;
  left: 60%;
  top: 5rem;
  font-size: 140%;
}

.card-footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  padding-top: 3rem;
  right: 0rem;
  bottom: 2rem;
  margin: 1rem;
}

.rating {
  font-weight: bold;
}

.learning-container {
  display: grid;
  position: absolute;
  left: 15.5rem;
  top: 7.5rem;
}

.speaking-container {
  display: grid;
  position: absolute;
  left: 15.5rem;
  top: 2rem;
}

.platform-container {
  display: grid;
  position: absolute;
  left: 3.5rem;
  top: 2rem;
}

.game-container {
  display: grid;
  position: absolute;
  left: 3.5rem;
  top: 7.5rem;
}
