.profile-card {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  width: 150%;
  background-color: #36404b;
}

.profile-card-content {
  margin: 16px;
}

.speaking-container {
  flex: grid;
  position: absolute;
  left: 22rem;
}

.platform-container {
  display: grid;
  position: absolute;
  left: 3.5rem;
  top: 2rem;
}

.game-container {
  display: grid;
  position: absolute;
  left: 3.5rem;
  top: 7.5rem;
}
