.profile-card {
  flex:grid;
  position:relative
  
  }
  
  .profile-card {
    flex:grid;
    position:relative
  }
  
  .card-header {
    flex:grid;
    position:relative;
    font-size: 160%;
    right:0
  }
  
  .card-footer {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 2rem;
    justify-content: center;
    align-items: center;
  }

  .card-footer h3 {
    font-size: 160%;
    padding-right: 5rem;
    left:0
  }
  
  
  
  .learning-container {
    flex:grid;
    position:absolute;
    left:27rem
  
  }
  
  .speaking-container {
    flex:grid;
    position:absolute;
    left: 22rem
  }
  
  .platform-container {
    flex:grid;
    position:absolute;
    left:41rem
  }
  
  .game-container {
    flex:grid;
    position:absolute;
    left:48rem
  }

  .underline {
    text-decoration: underline;
  }

  .user-container {
    flex:grid;
    position:absolute;
    left:2rem;
    font-size: 160%;
  }